<mat-drawer-container class="containerBack" autosize>
  <mat-drawer #drawerRelative class="sidenav2" mode="side" opened="true">
  </mat-drawer>
</mat-drawer-container>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawerFixed class="sidenav" mode="side" opened="true">

    <div class="upperSideNav">
        <h1>Sistema Hotel</h1>

        <button mat-button routerLink="">Home</button>
    </div>

    <div class="bodySideNav">

      <div class="button-container">
        <button mat-flat-button routerLink="/dashboard" >
          <mat-icon [inline]="true"> dashboard </mat-icon>
          Dashboard
        </button>
      </div>

      <div class="button-container">
        <button mat-stroked-button [matMenuTriggerFor]="belowMenu">
          <mat-icon [inline]="true"> meeting_room </mat-icon>
          Quartos
        </button>

        <mat-menu class="mat-menu" #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item>Todos os Quartos</button>
          <button mat-menu-item>Quarto Simples</button>
          <button mat-menu-item routerLink="/luxousRoom">Quarto de Luxo</button>
          <button mat-menu-item>Suíte</button>
        </mat-menu>
      </div>

      <div class="button-container">
        <button mat-stroked-button>
          <mat-icon [inline]="true"> person </mat-icon>
          Usuários
        </button>
      </div>

      <div class="button-container">
        <button mat-stroked-button>
          <mat-icon [inline]="true"> history </mat-icon>
          Histórico
        </button>
      </div>

      <div class="button-container">
        <button mat-stroked-button>
          <mat-icon [inline]="true"> payments </mat-icon>
          Pagamentos
        </button>
      </div>

    </div>

    <div class="lowerSideNav">

      <div class="button-container">
        <button mat-raised-button>
          <mat-icon [inline]="true"> info </mat-icon>
          Dúvidas?
        </button>
      </div>

    </div>

  </mat-drawer>

  <div class="sidenav-content" [class.mat-drawer-hidden]="!isDrawerOpen">
    <button type="button" mat-button (click)="drawerFixed.toggle(); drawerRelative.toggle(); postData();">
      <mat-icon id="icon-menu" [inline]="true">menu</mat-icon>
    </button>
  </div>

</mat-drawer-container>






